<div class="container-fluid">
  <div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
      <form formGroup="formGroup" (ngSubmit)="login()">
        <div class="mb-3">
          <label class="form-label">Username</label>
          <input type="text" class="form-control" formControlName="username">
        </div>
        <div *ngIf="username.touched && username.errors?.['required']" class="alert alert-danger">
          This username is required!
        </div>
        <div class="mb-3">
          <label class="form-label">Password</label>
          <input type="password" class="form-control" formControlName="password">
        </div>
        <div *ngIf="password.touched && password.errors?.['required']" class="alert alert-danger">
          This password is required!
        </div>
        <div *ngIf="password.touched && password.errors?.['minLength']" class="alert alert-danger">
          The password must be at least 3 characters long!
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
      </form>
    </div>
    <div class="col-lg-4"></div>
  </div>
</div>
